@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
body {
  display: flex;
  flex-direction: column; /* Apila los elementos verticalmente */
  min-height: 100vh; /* Altura mínima del viewport */
}
main {
  flex: 1; /* Hace que el contenido principal ocupe todo el espacio restante */
}
.img_finan {
    max-width: 200px;
    margin: 0 auto;
    display: block; 
   
}
.img_unite {
   
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}


@media (width >=768px) {
    .img_unite,.img_finan{
        max-width: 100px;
    }
    .text-footer{
            text-align: start !important;
        }
   .img-carrusel{
height: 400px;
object-fit: cover;
}
} 
   
   @media (width >=992px) {
.img-carrusel{
height: 500px;

}
}