@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
body {
  display: flex;
  flex-direction: column; /* Apila los elementos verticalmente */
  min-height: 100vh; /* Altura mínima del viewport */
}
main {
  flex: 1; /* Hace que el contenido principal ocupe todo el espacio restante */
}
.img_finan {
    width: 150px;
    margin: auto;
}